[Desktop Entry]
Encoding=UTF-8
Name=Gwsmhg Mercurial GUI
GenericName=GUI Wrapper for Work Space Management with hg and mq
Exec=gwsmhg
Terminal=false
Type=Application
Icon=gwsmhg
Categories=GNOME;GTK;Development;
